/* ---------------- Dashboard Page ---------------- */
#history-table {
  line-height: 1.8rem;
}

#history-table th {
  background-color: var(--color-bk2);
  color: white;
  text-align: center;
}

#history-table th:first-child {
  width: 7%;
}

/* #history-table th:nth-child(2) {
  width: 30%;
} */

#history-table th:nth-last-child(5) {
  width: 10%;
}

#history-table th:nth-last-child(4) {
  width: 14%;
}

#history-table th:nth-last-child(3) {
  width: 14%;
}

/* #history-table th:nth-last-child(2) {
  width: auto;
} */

#history-table th:last-child {
  width: 9%;
}

/* ---------------- Detail Page ---------------- */
#print-order-detail th {
  width: 50%;
}

@media screen and (min-width: 768px) {
  #print-order-detail th {
    width: 40%;
  }
}