1. Yêu cầu chức năng
a. Sinh viên, giảng viên, cán bộ công tác tại trường:
    - Đăng nhập vào hệ thống bằng tài khoản HCMUT do nhà trường cung cấp.
    - Đăng xuất khỏi hệ thống.
    - Đặt in tài liệu, bằng cách upload file, chọn máy in, chỉ định các thuộc tính in: cỡ giấy, số trang, trang cần in, in 1 hoặc 2 mặt, số lượng bản cần in.
    - Theo dõi tình trạng in tài liệu.
    - Xem lịch sử sử dụng dịch vụ cùng với bảng thống kê số lượng trang giấy đã in cho mỗi loại kích cỡ trang trong một khoảng thời gian nhất định.
    - Xem thông tin cá nhân, số trang in còn lại.
    - Mua thêm số lượng trang in (đơn vị: trang A4) thông qua BKPay.
    - Xem lịch sử giao dịch.
    - Gửi đơn phản hồi về các vấn đề khi sử dụng dịch vụ.
b. SPSO:
    - Đăng nhập vào hệ thống bằng tài khoản HCMUT do nhà trường cung cấp.
    - Đăng xuất khỏi hệ thống.
    - Xem lịch sử sử dụng dịch vụ của một người dùng bất kì ở một vài hoặc tất cả các máy in, trong một khoảng thời gian nhất định.
    - Xem lịch sử sử dụng dịch vụ của toàn bộ người dùng ở một vài hoặc tất cả các máy in, trong một khoảng thời gian nhất định.
    - Xem lịch sử một máy in bất kỳ trong một khoảng thời gian nhất định.
    - % Tạo các bảng thống kê, biểu đồ đối với lịch sử sử dụng dịch vụ.
    - Thêm, xóa, kích hoạt, vô hiệu hóa máy in.
    - Thêm, xem, sửa thông tin máy in.
    - Cài đặt cấu hình cho hệ thống: thay đổi số trang in mặc định, thời gian hệ thống sẽ gửi số trang in mặc định cho mọi người dùng, các định dạng file mà hệ thống chấp nhận.
    - Tạo report tự động cuối mỗi tháng và mỗi năm cho SPSO và lưu các report này để SPSO truy cập bất kì lúc nào.
c. HCMUT_SSO:
    - Xác thực đăng nhập cho sinh viên, giảng viên, cán bộ công tác tại trường và SPSO.
d. BKPay:
    - Thanh toán số trang in cho người dùng.

2. Yêu cầu phi chức năng
a. Usability
    - Giao diện đẹp, màu sáng, rõ, các nút chức năng to, dễ phân biệt.
    - Hệ thống có thể sử dụng dễ dàng sau tối đa 3 lần thao tác.
    - Dễ dàng xem báo cáo về việc sử dụng hệ thống in ấn thông qua các nút chức năng, tối đa 3 lần thao tác.
    - Dễ dàng thay đổi cấu hình hệ thống thông qua các nút chức năng, không quá 2 lần thao tác để vào bảng cấu hình.
    - Hệ thống phải hỏi xác nhận "có/không" cho các thao tác submit.
    - Tất cả các thông báo lỗi đều phải đưa ra thông báo và thông tin liên hệ khi người dùng cần liên lạc để yêu cầu hỗ trợ.
b. Security
    - Khi thanh toán, hệ thống không được lưu trữ thông tin thẻ, tài khoản ngân hàng.
    - Hệ thống thực hiện xác thực người dùng với HCMUT\_SSO.
    - Đảm bảo thông tin lịch sử in của mỗi người dùng chỉ có thể truy cập bởi người dùng đó và SPSO.
c. Audit
    - Dữ liệu được ghi lại, backup vào ngày 25 mỗi tháng.
    - Dữ liệu được ghi lại phải ở chế độ Read Only và không được sửa từ giao diện người dùng.
d. Reliability
    - Downtime của hệ thống không quá 3 giờ/tháng.
    - Hệ thống có thể khôi phục trạng thái trước khi đặt dịch vụ in nếu quá trình bị lỗi.
e. Performance
    - Khả năng phản hồi nhanh chóng (trong vòng 2 giây).
    - Thời gian phản hồi các yêu cầu hỗ trợ kỹ thuật phải nhanh chóng, tối đa là 2 ngày.
f. Efficiency
    - Hệ thống có khả năng phục vụ ổn định với 5000 sinh viên tối đa của trường sử dụng cùng lúc.
    - Hệ thống sử dụng các tài nguyên hiệu quả, tránh lãng phí.
g. Availability
    - Hệ thống vận hành từ 6h30-18h vào thứ 2 đến thứ 6 và 7h30-16h vào thứ 7 và chủ nhật, đảm bảo phục vụ cho sinh viên, cán bộ công nhân viên nhà trường.
    - Hệ thống bảo trì không quá 4 lần/năm. 
h. Compatibility
    - Đảm bảo tính tương thích giữa máy in và hệ thống in ấn.
    - Đảm bảo sự tương thích tốt giữa hệ thống in ấn và hệ thống thanh toán.
    - Đảm bảo tính tương thích giữa dịch vụ xác thực HCMUT\_SSO với hệ thống.
    - Hệ thống tương thích với các ứng dụng mobile và các trang web.
i. Scalability
    - Hệ thống có khả năng đáp ứng thêm 3000 người dùng mới mỗi năm.
j. Extensibility
    - Có khả năng phát triển thêm module kiểm duyệt tài liệu mà không thay đổi cấu trúc dữ liệu cũ.
k. Maintainability
    - Hệ thống phải được mô tả chi tiết trong document.
    - Khi máy in gặp sự cố, thông báo gửi về cho kĩ thuật viên phải nhanh chóng và rõ ràng thông qua mail...
    - Hệ thống đảm bảo việc hoạt động ổn định, kiểm tra/nâng cấp tối đa 3 tháng 1 lần.